#price {
  color: rgb(252, 49, 83);
}

.buy-now-button {
  background-color: rgb(252, 49, 83);
  border-radius: 0.2rem;
  color: white;
  padding: 5px 15px 5px 15px;
  border: none;
  box-shadow: 5px solid rgb(255, 151, 169);
}

.hero {
  background-color: #fceae8;
  margin: 20px 0 10px 0;
  padding: 20px;
  border-radius: 0.5rem;
}

.watch-bg {
  background: linear-gradient(
    62deg,
    rgb(246, 122, 55) 0%,
    rgba(255, 211, 102, 1) 50%,
    rgba(247, 206, 104, 1) 100%
  );
  color: white;
  border-radius: 0.5rem;
  padding: 1rem;
}
.shoes-bg {
  background: linear-gradient(
    135deg,
    rgba(0, 0, 65, 1) 0%,
    rgba(34, 87, 114, 1) 50%,
    rgba(91, 195, 154, 1) 100%
  );
  color: white;
  border-radius: 0.5rem;
  padding: 1rem;
}
.bag-bg {
  background: linear-gradient(
    90deg,
    rgba(206, 198, 186, 1) 0%,
    rgba(195, 182, 170, 1) 16.667%,
    rgba(184, 166, 154, 1) 33.333%,
    rgba(174, 150, 140, 1) 50%,
    rgba(164, 136, 127, 1) 66.667%,
    rgba(154, 123, 116, 1) 83.333%,
    rgba(145, 112, 108, 1) 100%
  );
  color: white;
  border-radius: 0.5rem;
  padding: 1rem;
}

.section-bg{
    background-color: #f7f7f7;
    padding-bottom: 1rem;
    padding-top: 1rem;
    
}

.card-bg{
    box-shadow: 5px 5px 5px 3px rgba(91, 91, 91, 0.2);
    padding: 15px;
    border-radius: .2rem;
}

.footer-bg{
    background-color: #f99084;
    text-align: center;
    padding: 2rem;
    color: white;
    border-radius: 1rem;
}